html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .MuiToolbar-root {
  min-height: 45px;
} */

p {
  word-wrap: break-word;
}

.section-header {
  text-align: center;
}

.about-section {
  padding: 10px;
}

/* #stall-globe-container {
  position: absolute;
  top: 15%;
  left: 50%
}

#stall-globe {
  position: relative;
  top: -50%;
  left: -50%;
} */

.errors {
  font-size: smaller;
}

.omni-paragraph {
  width: 400px;
  font-size: smaller;
}

.map-container {
  background-image: url('../images/BlitzkarteMapGreenWireframe.jpg');
  flex-direction: row;
  padding: 0px;
}

.view-controls {
  position: absolute;
  /* background-color: red; */
  right: 410px;
  bottom: 5px;
}

.map-view-button:hover {
  cursor: pointer;
}

.label {
  font-family: Calibri;
  font-weight: bold;
  text-anchor: middle;
}

.S-label {
  font-weight: bold;
  text-anchor: middle;
  font-size: 100;
}

text {
  alignment-baseline: middle;
}

.game-finder-container {
  padding: 5px;
}

.game-summary-row {
  border: 1px darkgray solid;
  padding: 3px;
  margin: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.order-row,
.dashboard-credential-row {
  display: flex;
  flex-wrap: nowrap;
}

.order-unit {
  width: 90px;
}

.order-type {
  width: 80px;
}

.order-destination {
  width: 80px;
}

.build-transfer-row,
.build-order-row,
.nuke-tech-transfer-row,
.nomination-list {
  display: flex;
  flex-wrap: nowrap;
}

.build-summary-value,
.summary-number-input {
  text-align: right;
}

.build-summary-value {
  text-align: right;
}

.summary-number-input {
  width: 50px;
}

.submission-error {
  color: red;
  font-weight: bolder;
}

.game-state-body {
  text-align: center;
  margin: 25px;
}

.clickup-embed {
  background: darkgray;
  border: 1px solid #ccc;
  width: 50%;
}

.provider-signup-button,
.provider-signup-field {
  margin-right: 25px;
  margin-bottom: 25px;
}

.supply-center.active {
  fill: white;
}

.supply-center.dormant,
.supply-center.bombarded {
  fill: gray;
}

.vote-star-outline {
  stroke-width: 5px;
}

.vote-star-outline.capital.active {
  stroke: white;
  /* stroke-width: 5px; */
}

.vote-star-outline.voting-center.claimed {
  stroke: black;
  /* stroke-width: 5px; */
}

.vote-star-outline.voting-center.dormant {
  stroke: red;
  /* stroke-width: 5px; */
}

.vote-star-outline.bombarded,
.vote-star-outline.nuked {
  stroke: red;
}

.vote-star-left.capital {
  fill: gold;
}

.vote-star-left.voting-center.claimed {
  fill: red;
}

.vote-star-left.voting-center.unclaimed {
  fill: gray;
}

.vote-star-right.capital.active {
  fill: gold;
}

.vote-star-right.capital.bombarded {
  fill: gray;
}

.vote-star-right.capital.nuked {
  fill: black;
}

.vote-star-right.voting-center.active {
  fill: red;
}

.vote-star-right.voting-center.bombarded,
.vote-star-right.voting-center.dormant {
  fill: gray;
}

.vote-star-right.voting-center.nuked {
  fill: black;
}