html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.map {
  background-color: blueviolet;
  background-image: url('../images/BlitzkarteMapGreenWireframe.jpg');
}

.label-type-L {
  font-size: 100px;
  fill: black;
  font-family: Calibri;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
}

.label-type-S {
  font-size: 100px;
  fill: white;
  font-family: Calibri;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
}